/* 
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/




/* RESET FIRST */

/* PHASE 0: Reset */

html,
body,
header,
nav,
h1,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    font-size: 100%;
    font: inherit;
    
    /* background: transparent; */
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
    /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
    -webkit-appearance: none;
    -moz-appearance: none;
}

button,
input[type="submit"] {
    cursor: pointer;

}

// html, body{
//     height: 100%;
// }

/* Main Body Application */
body {
    font-family: 'Roboto', sans-serif !important;
    background-color: rgb(240, 240, 240);
    font-size: 0.9rem;
    padding-bottom: 50px;
    
    /* font-family: 'Overpass',sans-serif;
font-family: Arial, Helvetica, sans-serif; */


}

h3 {
    text-align: center;
}


.main-content {
    background-color: white;
}

.search-button {
    width: inherit;
    position: absolute;
    right: 20px;
}

a:hover,
a:active,
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

.search-bar {
    color: black;
}

.search-bar:focus {
    transition-timing-function: linear;
    transition-duration: 0.6s;
    background-color: white;
}


.search-button,
.search-button:active,
.search-button:hover {
    /* background-color: lawngreen; */
    text-decoration: none;
    color: gray;
    font-size: 18px;
    line-height: 0;
}

.search-zoom {
    position: relative;
    display: flex;
    align-items: center;
}


img {
    pointer-events: none;
    /* height: inherit; */
}

button:focus {
    outline: none;
}



// .body{
    //     height: 100%;
    // }
    
    body{
        // height: 100%;
    }
    html{
        // height: 100%;

    }

    #root{
        height: 100%;
    }

    .app-container{
        // height: 100%;
    }

    .home-container{
        height: 100%;
    }


    .page-bottom{
        color: rgb(255,75,0);
        padding-bottom: 20px;
        padding-top: 20px;
        border-color: white;
        // font-size: 1.5rem;
    }

    .page-bottom-text{
        width: 60px;
    }

    .page-bottom-wave{
        font-size: 1rem;
    }

    .page-bottom {
        position: relative;
        // z-index: -1;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 1.2rem;
        height: 100%;
    }

    .page-bottom::before,
    .page-bottom::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid rgb(126, 126, 126);
    }

    .page-bottom::before {
        margin-right: 10px;
    }

    .page-bottom::after {
        margin-left: 10px;
    }
