.explore-container{
    // height: 100%;
    width: 1240px;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.explore-top-text{
    font-size: 2rem;
    color: rgb(46, 46, 46);
    padding: 40px 0px;
    // font-weight: ;
}
.explore-middle-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.explore-button{
    padding: 10px 20px;
    border: 1px solid white;
   
    background-color: rgb(255,75,0);
    color: white;
   margin: auto;
   font-weight: 300;
   font-size: 1.2rem;
   border-radius: 4px;
}

.explore-button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 75, 0);
     border: 1px solid rgb(255, 75, 0);

}

.explore-sounds{
    color: rgb(255, 75, 0);
}