.home-songs-container{
    
    position: relative;
    background-color: "lightgray";
    overflow: hidden;
}

.home-container{
    width: 1240px;
    margin: auto;
    position: relative;
}
.home-top{
    position: relative;
}
.home-profile-photo{
    // position: absolute;
   
    // top: auto;
    
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: red;
}

.home-photo-user{
    position: absolute;
    display: flex;
    top: 35px;
    left: 35px;
   
}

.home-profile-background{
    width: inherit;
    height: 270px;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);


}
.home-page-welcome{
    margin-left: 50px;
}
.home-profile-username{
    font-size: 1.7rem;
    color: white;
    text-shadow: 0 0 3px rgb(255, 66, 66);

}
.home-page-of{
    color: white;
    font-size: 1.2rem;
}

.home-welcome{
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 3px #000;

}

.home-photo-container{
    position: relative;
}

.home-photo-button{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 35px;
    padding: 5px 10px;
    background-color: rgb(255,75,0);
    color: white;
    border-radius: 3px;
    border: 1px solid white;
}
.home-background-button{
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 5px 10px;
    background-color: rgb(255,75,0);
    color: white;
    border-radius: 3px;
    border: 1px solid white;
}

.home-button-show{
    display: block;
}
