header {
    display: flex;
    justify-content: center;
    height: 45px;
    background-color: rgb(51, 51, 51);
    color: rgb(204, 204, 204);
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
}

.fake-header {
    position: fixed;
    width: 100%;
    height: 45px;
    z-index: 2;
    background-color: rgb(51, 51, 51);
}

header a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1240px;
    z-index: 3;
    position: fixed;
    height: inherit;
}


.navbar-list {
    display: flex;
    height: 100%;
}

.navbar-list>li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list-item:hover {
    color: white;
    cursor: pointer;
}

.navbar-list-item {
    position: relative;
    color: gainsboro;
}

.logo-box {
    width: 80px;
    background-color: rgb(253, 101, 33);
    color: white;
    border-right: 1px solid rgb(24, 24, 24);

}

.logo {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa-water {
    font-size: 1.1rem;
}

.fa-cloud {
    font-size: 1.5rem;
}

.home {
    width: 150px;
    color: gainsboro;
    background-color: gray;
    text-align: center;
    background-color: rgb(51, 51, 51);
    border-right: 1px solid rgb(24, 24, 24);
}

.playlist {
    width: 150px;
    color: gainsboro;
    background-color: gray;
    text-align: center;
    background-color: rgb(51, 51, 51);
    border-right: 1px solid rgb(24, 24, 24);
}

.search-bar {
    width: 400px;
    display: inline-block;
    height: 30px;
    border-radius: 7px;
    margin-left: 20px;
    padding-left: 10px;
    background-color: rgb(229, 229, 229);
    font-size: small;
}

.upload {
    width: 130px;
    color: gainsboro;
}

.profile-picture {
    width: 32px;
    height: 32px;
    background-color: gray;
    border-radius: 100px;
}

.profile {
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.username {
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.username-box {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
}

.fa-ellipsis-h {
    color: white;
    font-size: 1.4rem;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

canvas {
    background-color: white;
    width: 484px;
    height: 100px;
}

.active-page {
    background-color: rgb(17, 17, 17);
    color: white;
}

.dropdown-menu-1 {
    top: 45px;
    width: 100%;
    position: absolute;
    background-color: rgb(18, 18, 18);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dropdown-menu-1 div {
    height: 30px;
    color: rgb(197, 197, 197);
}

.dropdown-menu-1 div:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dropdown-menu-1 div:hover {
    background-color: rgb(51, 51, 51);
    color: white;
}

.dropdown-menu-2 {
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: rgb(51, 51, 51);
    top: 45px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    user-select: none;
}

.dropdown-menu-2 div:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dropdown-2 {
    position: relative;
    cursor: pointer;
}

.dropdown-menu-2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: rgb(197, 197, 197);
    background-color: rgb(18, 18, 18);
}

.dropdown-menu-2 div:hover {
    color: white;
    background-color: rgb(51, 51, 51);
}

.search-button{
    cursor: pointer;
}

@media screen and (max-width: 1240px) {
    .navbar-list, nav{
        width: 100%;
    }
}
