header {

    display: flex;
    justify-content: center;
    height: 45px;
    background-color: rgb(51, 51, 51);

    color: rgb(204, 204, 204);
    position: relative;
}

header a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1240px;

}

.navbar-list {
    display: flex;
    height: 100%;

}

.navbar-list>li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list-item:hover {
    color: white;
}

.navbar-list-item{
    position: relative;
    color: gainsboro;
}

.logo {
    width: 80px;
    background-color: rgb(253, 101, 33);
    color: white;
    border-right: 1px solid rgb(24, 24, 24);
}

.fa-water {
    font-size: small;
}

.fa-cloud {
    font-size: large;
}

.home {
    width: 150px;
    color: gainsboro;
    background-color: gray;
    text-align: center;
    background-color: rgb(51, 51, 51);
    border-right: 1px solid rgb(24, 24, 24);
}

.playlist {
    width: 150px;
    color: gainsboro;
    background-color: gray;
    text-align: center;
    background-color: rgb(51, 51, 51);
    border-right: 1px solid rgb(24, 24, 24);
}

.search-bar {
    width: 400px;
    display: inline-block;
    height: 30px;
    border-radius: 7px;
    margin-left: 20px;
    padding-left: 10px;
    background-color: rgb(229, 229, 229);
    font-size: small;
}

.upload {
    width: 130px;
    color: gainsboro;
}

.profile-picture {
    width: 20px;
    padding: 5px;
    background-color: gray;
    border-radius: 100px;
    // margin-left: 30px;
}

.profile {
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.arrow{
}
.username{
    width: auto;
    // display: flex;
    // align-items: center;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.username-box{
    width: 100px;
    display: flex;
    justify-content: space-evenly;
}
.fa-ellipsis-h {
    color: white;
    font-size: 1.4rem;
    margin-left: 20px;
    margin-right: 20px;
}

canvas {
    background-color: white;
    width: 484px;
    height: 100px;
}

.active-page{
    background-color: rgb(17,17,17);
    color: white;
}

.dropdown-menu-1{
    top: 45px;
    width: 100%;
    
    position: absolute;
    background-color: rgb(18,18,18);
    // z-index: 2;
}

.dropdown-menu-1 div{
    height: 30px;
    color: rgb(197,197,197);
}
.dropdown-menu-1 div:hover{
    background-color: rgb(51, 51, 51);
    color: white;
}

.dropdown-menu-2{
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: rgb(51, 51, 51);
    top: 45px;
    // display: none;
}
.dropdown-2{
    position: relative;
}
.dropdown-menu-2 div {
    height: 30px;
    color: rgb(197, 197, 197);
}
.dropdown-menu-2 div:hover {
    color: white;
}

